  .step {
    display: none;
  }
  .step.active {
    display: block;
  }

  * {
    box-sizing: border-box;
    color:black;
}

body {
    background: #212223;
    font-family: 'Cabin', sans-serif;
    color: #efdefe;
}





