  .step {
    display: none;
  }
  .step.active {
    display: block;
  }

  * {
    box-sizing: border-box;
    color:black;
}

body {
    background: #212223;
    font-family: 'Cabin', sans-serif;
    color: #efdefe;
}


@media (max-width: 990px){
    .signInBtn{
        margin-left: 40%;
    }
}
@media (max-width: 580px){
    .signInBtn{
        margin-left: 35%;
    }
}
@media (max-width: 375px){
    .signInBtn{
        margin-left: 30%;
    }
}





