*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background: blue;
}


.navbar-brand{
    color: black;
    font-size:26px;
    font-weight:bold;
    letter-spacing: 1px;
    margin-right: 30%;
}

.navbar-nav .nav-link{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    justify-content: space-evenly;
    align-items: flex-end;
    transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
    color: #ffffff;
    font-size: 18px;
}
main{
    height: 800px;

}

footer{
    background-color: transparent;
    backdrop-filter: blur(16px);
    color: black;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 120px;
}

footer img{
    width: 180px;
    height: auto;
}
footer p{
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}