*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    scroll-behavior: smooth;
    ::-webkit-scrollbar {
  width: 0;
}
}


main{
    height: 1010px;
    background: #010517;
}

.navbar{
    background: transparent;
    position: relative;
    display: flex;
}


.navbar-brand{
    color: white;
    font-size:26px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-right: 30%;
    transition: 0.3s ease-in;
}
.navbar-brand:hover{
    color: #787ff6;
}
.navbar-toggler{
    border: none;
}

.signInBtn {
    text-align: center;
    position: relative;
    margin-left: 20%;
    color: white;
    right: 20px;
    border: 2px solid #787ff6;;
    background: transparent;
    border-radius: 40% 40% 0 0;
    width: 200px;
    transition: 0.3s ease-in;
}

.signInBtn:hover{
    width: 180px;
    color: white;
    background: linear-gradient(50deg, #7bd5f5 , #787ff6, #1ca7ec, #1f2f98);
}

@media (max-width: 990px){
    .signInBtn{
        margin-left: 40%;
    }
}
@media (max-width: 580px){
    .signInBtn{
        margin-left: 35%;
    }
}
@media (max-width: 375px){
    .signInBtn{
        margin-left: 30%;
    }
}

.navbar-nav .nav-link{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    justify-content: space-evenly;
    align-items: flex-end;
    transition: 0.2s ease-in;
}

.navbar-nav .nav-link:hover{
    text-decoration: underline solid 3px #787ff6;
}


.dropdown-menu{
    overflow: hidden;
    position: absolute;
    left: 0;
    background: black;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(25px);
}

.dropdown-menu li a{
    color: white;
    margin-left: 10px;
    transition: 0.3s ease-in;
}

.dropdown-menu li a:hover{
    background: transparent;
    color: white;
    text-decoration: underline solid #787ff6;
    font-size: 20px;
    transition: all 0.1s ease-out;
}


.nav-item{
    display: inline-block;
    position: relative;
    cursor: pointer;
    z-index: 5;
    line-height: 60px;
    text-align: center;
}

footer{
    color: black;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 100px;
}

footer img{
    width: 180px;
    height: 90px;
}
footer p{
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}

.carousel{
    text-align: center;
    color: white;
    font-size: 18px;
    margin-top: 10px;
    height: 100px;
    height: 70px;
    width: 100%;
    align-items: center;
    border: 2px solid #787ff6;
}
.carousel a{
    color: white;
    font-size: 14px;
}
.carousel a:hover{
    color: #787ff6;
    text-decoration: underline solid white;
    font-size: 16px;
}
.slider {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }
  .slider__content {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
    scrollbar-color: #ffff #141e27;
  }
  .slider__content::-webkit-scrollbar {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 1rem;
    background: black;
  }
  .slider__content::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #787ff6;
  }
  .slider__content::-webkit-scrollbar-track {
    border-radius: 1rem;
    background: white;
  }
  .slider__item {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-width: 100%;
    width: 100%;
    border-radius: 64px 96px 128px 32px;
    overflow: hidden;
    position: relative;
    border: 2px solid black;
    aspect-ratio: 1;
  }

  .modall {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(25px);
    width: 100%;
    height: 100%;
    background: transparent;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    padding: 20px;
    color: white;
    font-size: 1.2rem;
    align-items: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
    height: 300px;
    background-color: #787ff6;
}

.modal-content img{
    width: 200px;
    height: 200px;
    border-radius: 45%;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 32px;
    cursor: pointer;
}


  @media (min-width: 460px) {
    .slider__item {
      aspect-ratio: 0.6666666667;
      min-width: calc((100% / 2) - 2rem);
   }
  }
  @media (min-width: 940px) {
    .slider__item {
      min-width: calc((100% / 3) - 4rem);
   }
  }
  .slider__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit:cover;
    position: absolute;
    top: 0;
    filter:contrast(1.6);
    left: 0;
  }
  .slider__info {
    position: relative;
    padding: 4rem 2rem 2rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(32, 50, 57, 0));
  }
  .slider__info h2 {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.1;
    font-weight: 300;
    backdrop-filter: blur(8px);
    width: 700px;
    border-radius: 16px;
    font-size: 1.75rem;
    margin: 0;
  }

  #scrollToTop{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}


#team-members{
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 24px;
    max-width: 800px;
    width: 100%;
    background: white;
    text-align: center;
    border-radius: 32px;
    box-shadow: rgba(0,0,0,0.05) 0px 6px 24px 0px;
}

.team-member{
    position: relative;
    z-index: 1;
    min-height: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    border-radius: 24px;
    font-size: 16px;
    padding: 16px;
    align-items: center;
    background-color: white;
    box-shadow: rgba(0,0,0,0.05) 0px 6px 24px 0px;
    transition: 0.3s ease-out;
}

.team-member:hover{
    cursor:crosshair;
}
.social-links{
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-left: auto;
    gap: 8px;
    flex-direction: row;
}

.social-links img{
    height: 20px;
    width: 20px;
}

.team-member-avatar{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.team-member-socials{
    display: flex;
    gap: 8px;
}

.team-member-name{
    display: grid;
    gap: 2px;
}

.team-member-name h3{
    font-size:medium;
    font-weight: 500;
    font-family: 'Kanit', sans-serif;

}

.team-member-name p{
    font-size: smaller;
    font-family: 'Kanit', sans-serif;
}

@media (max-width: 400px) {
    .social-links{
        display: none;
    }
}
#fullscreen-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: auto;
}

.fullscreen-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.close-modal {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}
.scrollTop {
    position: fixed;
    bottom: 300px;
    right: 30px;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 16px;
    background: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(25px);
    cursor: pointer;
    transition: all 0.5s ease 0s;
}
.scrollTop:hover {
    background: white;
}

.buyBtn{
    margin-top: 30px;
    margin-left: 45%;
    width: 160px;
    height: 50px;
    border: none;
    font-size: 1.2rem;
    background: white;
    border-radius: 40px;
    transition: 0.3s ease-in;
}

.buyBtn:hover{
    transform: translateY(-10%);
    background: #787ff6;
    color: white;
    box-shadow: 0px 5px 10px 1px #555555;
}

@media (max-width: 875px) {
    .buyBtn{
        margin-left: 40%;
    }
}

@media (max-width: 475px) {
    .buyBtn{
        margin-left: 35%;
    }
}

@media (max-width: 375px) {
    .buyBtn{
        margin-left: 30%;
    }
}
  
.element-animation {
    margin-top: 2rem;
    margin-left: 15%;
    opacity: 0;
    transform: translateY(20px);
  }
  
  .element-animation.element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
  }
  
  .shop-container {
    height: 1010px;
    background:#010517;
    border: 1px solid #071241;
  }
  
.main_content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main_text h1{
    font-size: 90px;
    line-height: 70px;
    font-family: 'Exo', sans-serif;
    background: linear-gradient(75deg,#787ff6,#70E000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    top: 45px;
    left: 5%;
  }

.main_text h1 span {
    font-size: 70px;
    margin-top: 45px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    background: linear-gradient(to right, #787ff6 , white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main_text p{
    width: 600px;
    text-align: justify;
    line-height: 21px;
    position: relative;
    color: white;
    top: 85px;
    font-family: 'Kanit', sans-serif;
    left: 5%;
}

.main_content img{
    width: 650px;
    position: relative;
    left: 20px;
    top: 75px;
    filter: contrast(1.3);
}


.main_content .list-group{
    margin-top: 20%;
    margin-left: 10%;
    background: #1b3161;
}

.list-group li{ 
    background: transparent;
    backdrop-filter: blur(20px);
    color: #70E000;
    text-align: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
    border: 2px solid white;
    font-size: 1.2rem;
    list-style: none;
}

#topBtn{
  position: fixed;
  bottom: 20px; 
  right: 30px;   
  z-index: 99; 
  width: 64px;
  height: 64px;
  border: 2px solid white;
  border-radius: 50%;
  outline: none;
  background: transparent;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(25px);
  font-size: 32px;
}